/* COGS3 studyBuddy specific styles go here. */
#title {
  background-color: #97d39b;
}
.container-fluid{
  padding: 3% 15%;
}
h1 {
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 3rem ;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}
h2 {
  color: #fff;
  font-family: 'Comfortaa';
  font-size: 1.5;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat Alternates';
  font-weight: 200;
  text-align: center;
}

p{
  color: #073006;
  font-family: 'Syne Mono';
  font-size: 1rem ;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Comfortaa';
  font-size: 1.5rem;
  font-weight: bold;

}
.navbar-item {
  padding: 0 18px;

}
.nav-link {
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 5% 5% 0;
}

/* Skills Section */
#skills {
  padding: 7% 15%;
  background-color: #d6ffd9;
  position: relative;
  z-index: 1;
}
.project-skills {
  color: #000000;
  font-family:'Comfortaa';
  text-align: center;
}
.skills-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #516da9;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #a5e2fc;
}

/* Experience Section */
#experience{
  text-align: center;
  background-color: #97d39b;
}
.carousel-item{
  padding: 7% 15%;
  color: #d6ffd9;
}
.carousel-review {
  font-family: 'Comfortaa';
  font-weight: 300;
}
.experience-image {
  margin: 10px;
}


/* Project Section */
#project{
  padding: 100px;
  text-align: center;
  background-color: #d6ffd9;
}
.project-header {
  color: #516da9;
  font-family:'Comfortaa';
}
.project-column{
  padding: 3% 2%;
}
.project-tiers {
  font-family: 'Montserrat Alternates';
  font-size: 400;
  font-weight: 200;
}

/* About Me Section CTA */
#aboutme {
  background-color: #d6ffd9;
  color: #fff;
  padding: 7% 15%;
  text-align: left;
}
.aboutme-heading {
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {
  padding: 7% 15%;
  text-align: center;
  background-color: #97d39b;
}
.social-icon {
  margin: 20px 10px;
}

/* Media Query Section */
@media (max-width: 1028px){
  #title{
      text-align: center;
  }
  .title-image{
      position: static;
      transform: rotate(0);
  }
}
